<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div id="error_container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <% if(error.status == 404) { %>
        <p>Possibly a bad URI.</p>
    <% } %>
</div>

<%- include('partials/footer') %>